body {
    background-color: aqua;
}

.btn2 {
    border: none;
    background-color: brown;
    color: blueviolet;
    font-size: 1em;
    cursor: pointer;
}

.first {
    background-color: bisque;
}